@import "./src/assets/scss/basic/index";

.center-text {
  margin-left: auto;
  margin-right: auto;
  color: $primary-text;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

ion-card {
  --ion-background-color: white;
  box-shadow: 6px 2px 16px -3px rgba(39, 35, 79, 0.37);
}

.view-report-slides {
  width: 100%;
}

::ng-deep {
  .slide-size {
    width: 0 !important;
  }
}

.slide-image {
  width: 100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  object-fit: cover
}