<app-header [routePrevious]="routePrevious"></app-header>

<ion-content [fullscreen]=" true" class="auth-form">
  <ion-header collapse="condense">
  </ion-header>
  <ion-img src="/assets/logo-sabuesos.png" class="logo"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <form class="form" [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-text color="primary"><strong>Ingresa el correo registrado en sabuesos, te enviaremos un link para
                recuperar tu password.</strong></ion-text>
          </ion-item>
          <ion-item>
            <ion-input label="Correo" labelPlacement="floating" clearInput="true" type="email" formControlName="email" required></ion-input>
          </ion-item>
          <div class="buttonsContainer mt-1">
            <ion-button type="submit" color="tertiary" expand="block" class="mt-2">
              <ion-text color="primary"><strong>Enviar correo</strong></ion-text>
            </ion-button>
            <div class="ion-margin-top"></div>
            <ion-button expand="block" color="secondary" (click)="goToMainPage()">
              <ion-text color="primary"><strong>Ir a Inicio</strong></ion-text>
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
