.form {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

.item-img {
  height: 9.5rem;
}