<ion-segment scrollable (ionChange)="segmentChanged($event)" [value]="activedSegment" mode="ios">
  <ion-segment-button [value]="0">
    <ion-icon name="scan-circle-outline"></ion-icon>
    <ion-text color="primary">
      <strong>
        Extraviados
      </strong>
    </ion-text>
  </ion-segment-button>
  <ion-segment-button [value]="1">
    <ion-icon name="locate-outline"></ion-icon>
    <ion-text color="primary">
      <strong>
        Encontrados
      </strong>
    </ion-text>
  </ion-segment-button>
  <ion-segment-button [value]="2">
    <ion-icon name="paw-outline"></ion-icon>
    <ion-text color="primary">
      <strong>
        Adopciones
      </strong>
    </ion-text>
  </ion-segment-button>
  <!-- <ion-segment-button value=3 disabled="true">
    <ion-icon name="briefcase-outline"></ion-icon>
    <ion-text color="primary">
      <strong>
        Servicios
      </strong>
    </ion-text>
  </ion-segment-button> -->
</ion-segment>
<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-list>
  <ion-item>
    <ion-grid fixed>
      <ion-row>
        <!-- <ion-col size="6" size-lg="3" size-md="4" size-sm="6"
          *ngFor="let report of reportList | filterAnimals: typeReportList: 'typePost'">
          <app-card [data]="report"></app-card>
        </ion-col> -->
        <ng-container *ngFor="let item of reportList | filterAnimals: typeReportList: 'typePost': adDataList">
          <!-- 🔹 Si es un reporte normal -->
          <ion-col *ngIf="!item.isAd" size="6" size-lg="3" size-md="4" size-sm="6">
            <app-card [data]="item"></app-card>
          </ion-col>

          <!-- ✅ Si es un anuncio -->
          <ion-col *ngIf="item.isAd" size="12">
            <ion-card (click)="openAd(item)">
              <ion-img [src]="item.cover"></ion-img>
              <ion-card-header>

                <ion-text color="primary" class="text-small" style="font-weight: bold;">
                  {{item.advertiser}}
                </ion-text>
                <ion-text color="primary" class="text-small" style="font-weight: bold;">
                  {{item.headline}}
                </ion-text>
                <ion-text color="primary" class="text-small">
                  {{item.body}}
                </ion-text>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>