<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>sabuesos</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
   	<array>
        <!-- Google Sign In -->
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.909651562334-8tq4ng8qu5d9apvgab05j7ioe1606q8p</string>
            </array>
        </dict>
        <!-- Facebook -->
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb998695285332737</string>
            </array>
        </dict>
    </array>
	<key>FacebookAppID</key>
	<string>998695285332737</string>
	<key>FacebookClientToken</key>
	<string>cf4f302d6a943d63e532e3cb6a02de5c</string>
	<key>FacebookDisplayName</key>
	<string>SabueSOS</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
		<string>ca-app-pub-9998601387563157~6612745468</string>
	<key>GADIsAdManagerApp</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Necesitamos acceso a la cámara para que puedas tomar fotos de mascotas desaparecidas y fotos de perfil.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Necesitamos acceder a tu ubicación para registrar tu ubicación al reportar mascotas desaparecidas y mostrar mascotas desaparecidas en tu área, incluso cuando la aplicación está en segundo plano.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Necesitamos acceder a tu ubicación en todo momento para reportar mascotas desaparecidas y mostrar mascotas desaparecidas en tu área, incluso cuando la aplicación está en segundo plano.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Necesitamos acceder a tu ubicación para reportar mascotas desaparecidas y mostrar mascotas desaparecidas en tu área.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Necesitamos acceso a tu biblioteca de fotos para que puedas guardar imágenes de mascotas desaparecidas y fotos de perfil desde la aplicación.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitamos acceso a tu biblioteca de fotos para que puedas seleccionar imágenes de mascotas desaparecidas y fotos de perfil.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Necesitamos tu permiso para rastrear tu actividad con el fin de ofrecerte anuncios personalizados y mejorar tu experiencia en la aplicación.</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
